h1 {
    color: darkmagenta;
    z-index: 20;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
    padding: 10px;
    position: fixed;
    width: 100%;
    text-align: center;
}