h1 {
    color: darkmagenta;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
    padding: 10px;
    position: fixed;
    width: 100%;
    text-align: center;
}


/*Titel mittig platzieren / class angelegt .
.header__titel {
  align-items: center;
}