.navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: darkmagenta;
}

.navbar a {
  padding: 20px;
  text-decoration: none;
  color: white;
}

.navbar a:hover {
  background-color: lightblue;
}
