.questioncard {
    position: relative;
    background-color: antiquewhite;
    width: 70%;
    padding: 20px;
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.tags__container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.--hide {
    display: none;
}

.--show {
    display: block;
}

.card-answer-button {
    width: fit-content;
    margin: 0 auto;
    padding: 10px;
}